page-home {

}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 12%;
    height:12%;
    margin: 0 2px;
    &.hidden {
      display: none;
    }
  }
}
