.background-champ img{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  background: rgba(255,255,255,0.3);
  h2 {
    color: white
  }
  p {
    color: skyblue;
  }
  .game-result {
    &.win {
      color: #2ec95c;
    }
    &.lose {
      color: #e93a3a;
    }
  }
}

.stats  {
  margin-top: 10px;
  background: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .item-block {
    background-color: transparent;
    .label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .block {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    &:last-child {
      img {
        margin-top: 0;
      }
      p {
        margin-left: 5px;
      }
    }
    img {
      margin-top:10px;
    }
    p {
      margin-left: -10px;
      color: white;
    }
  }
}

ion-content {
  .item-md.item-block .item-inner {
    border: none;
  }
}
